In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import tree
from sklearn.model_selection import train_test_split

uri = 'datasets/movies_multilinear_reg.csv'
dataset = pd.read_csv(uri)
dataset.head()

,movieId,Titulo,Documentary,Sci-Fi,Mystery,Horror,Romance,Thriller,Crime,Fantasy,Comedy,Animation,Children,Drama,Adventure,Duracao,Investimento,Bilheteria
0,1,Toy Story (1995),0,0,0,0,0,0,0,1,1,1,1,0,1,103.468310,11.048216,5623234.602
1,2,Jumanji (1995),0,0,0,0,0,0,0,1,0,0,1,0,1,112.337916,14.927678,5714951.757
2,3,Grumpier Old Men (1995),0,0,0,0,1,0,0,0,1,0,0,0,0,116.245732,27.114597,9524339.124
3,4,Waiting to Exhale (1995),0,0,0,0,1,0,0,0,1,0,0,1,0,120.317732,4.994242,6331568.779
4,5,Father of the Bride Part II (1995),0,0,0,0,0,0,0,0,1,0,0,0,0,110.023572,19.142246,6409617.277

In [5]:
x = dataset[dataset.columns[2:17]]
y = dataset[dataset.columns[17:]]
x_train,x_test, y_train, y_test  =  train_test_split(x,y)

In [6]:
x_train = np.array(x_train).reshape(len(x_train), 15)
x_test = np.array(x_test).reshape(len(x_test), 15)

In [9]:
model = tree.DecisionTreeRegressor(max_depth=5)
model.fit(x_train,y_train)

print('Score: %.2f%%' % (model.score(x_train, y_train)*100))

Score: 80.70%