In [95]:
import pandas as pd

uri = "datasets/movies_multilinear_reg.csv"
dataset = pd.read_csv(uri)
dataset.head()

,movieId,Titulo,Documentary,Sci-Fi,Mystery,Horror,Romance,Thriller,Crime,Fantasy,Comedy,Animation,Children,Drama,Adventure,Duracao,Investimento,Bilheteria
0,1,Toy Story (1995),0,0,0,0,0,0,0,1,1,1,1,0,1,103.468310,11.048216,5623234.602
1,2,Jumanji (1995),0,0,0,0,0,0,0,1,0,0,1,0,1,112.337916,14.927678,5714951.757
2,3,Grumpier Old Men (1995),0,0,0,0,1,0,0,0,1,0,0,0,0,116.245732,27.114597,9524339.124
3,4,Waiting to Exhale (1995),0,0,0,0,1,0,0,0,1,0,0,1,0,120.317732,4.994242,6331568.779
4,5,Father of the Bride Part II (1995),0,0,0,0,0,0,0,0,1,0,0,0,0,110.023572,19.142246,6409617.277

In [96]:
# pegar da segunda em diante
filmes_independentes = dataset[dataset.columns[2:17]]
# print(movies)
filmes_independentes.head()
#type(filmes_independentes) # mostra o tipo

,Documentary,Sci-Fi,Mystery,Horror,Romance,Thriller,Crime,Fantasy,Comedy,Animation,Children,Drama,Adventure,Duracao,Investimento
0,0,0,0,0,0,0,0,1,1,1,1,0,1,103.468310,11.048216
1,0,0,0,0,0,0,0,1,0,0,1,0,1,112.337916,14.927678
2,0,0,0,0,1,0,0,0,1,0,0,0,0,116.245732,27.114597
3,0,0,0,0,1,0,0,0,1,0,0,1,0,120.317732,4.994242
4,0,0,0,0,0,0,0,0,1,0,0,0,0,110.023572,19.142246

In [97]:
# pegar da 17 até o final
filmes_dependentes = dataset[dataset.columns[17:]]
filmes_dependentes.head()
#type(filmes_dependentes)
print(filmes_dependentes)

        Bilheteria
0     5.623235e+06
1     5.714952e+06
2     9.524339e+06
3     6.331569e+06
4     6.409617e+06
5     4.956557e+06
6     4.654565e+06
7     3.950017e+06
8     6.850972e+06
9     5.157866e+06
10    6.124642e+06
11    7.179619e+06
12    6.412548e+06
13    3.940458e+06
14    6.883305e+06
15    8.357738e+06
16    6.051706e+06
17    6.537048e+06
18    6.580321e+06
19    6.253514e+06
20    8.912700e+06
21    4.899582e+06
22    4.203260e+06
23    6.119912e+06
24    4.694086e+06
25    1.086739e+07
26    6.853881e+06
27    8.651590e+06
28    5.980357e+06
29    7.447149e+06
...            ...
9095  6.787822e+06
9096  4.942858e+06
9097  5.102260e+06
9098  7.403218e+06
9099  6.736836e+06
9100  8.755378e+06
9101  7.442334e+06
9102  1.012734e+07
9103  8.699330e+06
9104  7.480618e+06
9105  5.299276e+06
9106  5.427533e+06
9107  8.342972e+06
9108  5.561781e+06
9109  6.007831e+06
9110  6.462013e+06
9111  5.400136e+06
9112  6.147595e+06
9113  6.784586e+06
9114  5.080383e+06
9115  6.093774e+06
9116  6.355193e+06
9117  4.087979e+06
9118  7.758407e+06
9119  6.833359e+06
9120  6.318999e+06
9121  5.300340e+06
9122  6.945211e+06
9123  6.459004e+06
9124  1.063624e+07

[9125 rows x 1 columns]

In [98]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# para o raciocínio ficar mais visual... atribuo a x. Mas não precisa.
x = filmes_independentes
y = filmes_dependentes
x_train, x_test, y_train, y_test = train_test_split(x,y)

# treina o modelo
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [99]:
#values = dataset.get_values()[1]  #pega os valores da posição indicada
model.predict([[0,0,0,0,0,0,0,1,1,1,1,0,1,103.4683096,11.04821649]])

array([[5818755.21773396]])

In [100]:
model.coef_

array([[ 62453.55872702,  31456.39003755, -19340.8141649 ,
        -12602.1923045 ,  45363.52351334,  25283.84695829,
          5298.16881887,  28840.31026701,   2217.01685175,
        -13646.00783919, -11239.82506171, -22205.2052083 ,
        -35097.92800878,  45835.32256528,  99285.98101379]])

In [101]:
model.intercept_

array([8245.29306178])

In [114]:
score_train = model.score(x_train, y_train) * 100
print('Treino: %.2f%%' % score_train)

Treino: 82.75%

In [115]:
score_test = model.score(x_test, y_test) * 100
print('Teste: %.2f%%' % score_test)

Teste: 82.81%

In [ ]:
model.predict()