In [16]:
#ler arquivo csv 
import pandas as pd
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [17]:
#renomeando com o pandas
mapa = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact": "contato",
    "bought" : "comprou"
}
dados = dados.rename(columns = mapa)

In [23]:
#pega só as três primeiras colunas
x = dados[["principal", "como_funciona", "contato"]]
y = dados["comprou"]
#print(y)
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64